/Машинное обучение 2 семестр
/ML_DL21_lec_for_students
/ML_DL23_lec_for_students
/ML/cats_dogs
/ML/training
/ML/validation
/ML/data
/Анализ сетевых моделей (графы)/Сем4/Zadacha_strateg_plan_-_poiska_kritich_puti.xlsx
/ML/*.pth
